.comic {
    --current-page: 0;
    --last-page: 1;

    perspective: 2048px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.comicPage {
    --index: 0;
    --placement: 1;
    --index-rel: calc(var(--index) - var(--current-page));
    --index-snapped: calc(round(down, var(--index)/2));
    --index-rel-snapped: calc(round(down, var(--index-rel)/2));

    
    z-index: calc((var(--last-page) + 1) - abs(var(--index-rel) + 1));

    position: absolute;
    max-width: 50%;
    max-height: 100%;

    transition: transform 0.25s cubic-bezier(0.1, 0, 0.5, 0.9), z-index 0.25s cubic-bezier(0.3, calc((max(min(var(--index-rel-snapped) + 1, 1), 0) * 1)), 0.9, 1);

    --page-overlap: calc(((abs(var(--index-rel-snapped)) - 0.25) * 2) * (2px / (abs(var(--index-rel-snapped)) + 1)));

    transform:
        rotateY(-90deg)
        rotateY(calc(90deg * var(--placement)))
        translateX(50%)
        translateX(var(--page-overlap))
    ;
    box-shadow:
        -1px 0px 0px #FFF,
        0px 0px 1px #000
    ;

    &:nth-child(even) {
        transform:
            rotateY(-90deg)
            rotateY(calc(90deg * var(--placement)))
            translateX(50%)
            translateX(var(--page-overlap))
            rotateY(180deg)
        ;
        
        box-shadow:
            1px 0px 0px #FFF,
            0px 0px 1px #000
        ;
    }
}
.comicPage.spread {
    aspect-ratio: 1000/1342;
    width: unset;

    object-fit: cover;
    object-position: left;

    &:nth-child(odd) {
        object-position: right;
    }
}